/* desktop */
@media screen and (min-width: 880px) {
    img {
        height: 185px;
        align: center;
    }
}

/* mobile */
@media screen and (max-width: 879px) {
    img {
        width: 300px;
        align: center;
    }
}
